*{
    margin: 0;
    padding: 0;
    border: 0;
}
body, html{
    height: 100%;

}
.bg{
    background-color: #79B3C8;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
}
.responsive{
    position: relative;
    display: block;
    width: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.container{
    position: relative;
    display: block;
    align-content: center;
    margin: 0 auto;
}